<header>
    <figure>
        <a href="/" title="Accueil Api AVNU">
            <img src="{{ api.mediasUrl }}avnu-picto.png" width="122" height="138" alt="avnu" border="0" />
        </a>
    </figure>
    <nav>
        <a href="/ref" title="référenciel" class="btn">Référentiel de l'ontologie AVNU</a>
        <a href="https://avnu.ca" title="référenciel" class="btn">Application AVNU</a>
    </nav>
</header>