<header>
    <figure>
        <a href="/" title="Accueil Api AVNU">
            <img src="/images/api-avnu-logo.png" width="320" alt="avnu" />
        </a>
    </figure>
    <nav>
        <a href="/ref" title="référenciel" class="btn">Référentiel</a>
        <a href="https://avnu.ca" title="Application avnu.ca" class="btn">avnu.ca<i class="la la-external-link"></i></a>
    </nav>
</header>