<header>
    <figure>
        <a href="/" title="Accueil Api AVNU">
            <img src="{{ api.mediasUrl }}avnu-picto.png" width="122" height="138" alt="avnu" />
        </a>
    </figure>
    <nav>
        <a href="/ref" title="référenciel" class="btn">Référentiel</a>
        <a href="/vocabulaires" title="Vocabulaires" class="btn">Vocabulaires</a>
        <a href="https://avnu.ca" title="référenciel" class="btn">Application<i class="la la-external-link"></i></a>
    </nav>
</header>