{% macro isRequire(cardinality, inTable=true) %}
    {% if cardinality === '1..1' %}
        <span class="p-relative inline-block is-required bg-primary{% if inTable %} in-table{% endif %}">
            <i class="la la-check"></i>
        </span>
    {%  endif %}
{% endmacro %}