<h2>Ontologies supportées</h2>

<h3 id="artsdata">
    <i class="la la-palette"></i>
    Artsdata
</h3>

<a href="https://www.artsdata.ca/" title="artsdata.ca" target="_blank">artsdata.ca
    <i class="la la-external-link"></i>
</a>

<p>
    Artsdata est un graphe de connaissances interrelié avec de nombreuses sources de données du secteur des arts ainsi
    qu’avec d’autres bases de connaissances ouvertes et liées. Cette infrastructure facilite la découvrabilité et la
    réutilisation des données sur les arts.
</p>

<h3 id="datascene">
    <i class="la la-lightbulb"></i>
    Datascene
</h3>

<a href="https://www.datascene.ca/" target="_blank">datascene.ca
    <i class="la la-external-link"></i>
</a>

<p>
    Des données standardisées pour un écosystème des arts de la scène connecté et performant. Moins de ressaisies. Plus de
    cohérence. Une information qui voyage mieux.
</p>

<h3 id="schemaorg">
    <i class="la la-pencil-ruler"></i>
    Schema.org
</h3>

<a href="https://schema.org/" title="Schema.org" target="_blank">Schema.org
    <i class="la la-external-link"></i>
</a>

<p>
    Schema.org est un vocabulaire structuré collaboratif et communautaire dont la mission est de créer, maintenir et promouvoir des schémas pour les données structurées sur Internet.
</p>