<h2>Ontologies supportées</h2>

<h3>
    <i class="la la-palette"></i>
    Artsdata
</h3>

<a href="https://www.artsdata.ca/" target="_blank">artsdata.ca
    <i class="la la-external-link"></i>
</a>

<p>
    Artsdata est un graphe de connaissances interrelié avec de nombreuses sources de données du secteur des arts ainsi
    qu’avec d’autres bases de connaissances ouvertes et liées. Cette infrastructure facilite la découvrabilité et la
    réutilisation des données sur les arts.
</p>

<h3>
    <i class="la la-lightbulb"></i>
    Datascene
</h3>

<a href="https://www.datascene.ca/" target="_blank">datascene.ca
    <i class="la la-external-link"></i>
</a>

<p>
    Des données standardisées pour un écosystème des arts de la scène connecté et performant. Moins de ressaisies. Plus de
    cohérence. Une information qui voyage mieux.
</p>

<h3>
    <i class="la la-pencil-ruler"></i>
    Schema.org
</h3>

<a href="https://schema.org/" target="_blank">schema.org
    <i class="la la-external-link"></i>
</a>

<p>
    Schema.org is a collaborative, community activity with a mission to create, maintain, and promote schemas for structured
    data on the Internet.
</p>