{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "import"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:import/typescript",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        // turn on errors for missing imports
        "import/no-unresolved": "error",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-inferrable-types": "off"
    },
    "settings": {
        "root": true,
        "project": "./",
        "import/resolver": {
            "typescript": true,
            "node": true
        },
        "node": {
            "paths": ["src"]
        },
        "import/parsers": {
            "@typescript-eslint/parser": [".ts", ".tsx", ".d.ts"]
        },
        "import/external-module-folders": ["node_modules"]
    }
}
