{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "baseUrl": ".",
    "paths": {
      "@src/*" : ["src/*"],
      "@auth/*" : ["src/Authentification/*"],
      "@database/*" : ["src/Database/*"],
      "@core/*" : ["src/Abstract/*"]
    },
    "target": "es2021",
    "keepClassNames": true,
    "loose": true
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true
}