{% extends 'default.njk' %}

{% block content %}

    <div class="indexContent">

        {% block contentHeader %}
            {% include "Partials/header.njk" %}
        {% endblock %}

        <h1>{{ title }}</h1>

        {% if items.entities %}

            <h2>Entités principales</h2>

            <p>Les entities principales de la plateforme AVNU.</p>

            <table class="ref">

                <thead>
                    <th>Item</th>
                    <th>URL</th>
                    <th>Description</th>
                </thead>

                <tbody>
                    {% for label, item in items.entities %}
                        <tr>
                            <td>{{ label }}</td>
                            <td>
                                <a href="{{ baseUrl }}{{ baseRoute }}{{ item.url }}">{{ baseRoute }}{{ item.url }}</a>
                            </td>
                            <td>{{ item.description }}</td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        {% else %}
            <p>Rien à afficher!</p>
        {% endif %}

        {% if items.subschemas %}

            <h2>Sous-schémas</h2>

            <p>Formes d'objets des sous-propriétés complexes des entitées principales.</p>

            <table class="ref">

                <thead>
                    <th>Item</th>
                    <th>URL</th>
                    <th>Description</th>
                </thead>

                <tbody>
                    {% for label, item in items.subschemas %}
                        <tr>
                            <td>{{ label }}</td>
                            <td>
                                <a href="{{ baseUrl }}{{ baseRoute }}{{ item.url }}">{{ baseRoute }}{{ item.url }}</a>
                            </td>
                            <td>{{ item.description }}</td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        {% else %}
            <p>Rien à afficher!</p>
        {% endif %}

    </div>

{% endblock %}