{% extends 'default.njk' %}

{% from "Partials/isRequire.njk" import isRequire %}

{% block content %}

    <div class="container">

        {% block contentHeader %}
            {% include "Partials/header.njk" %}
        {% endblock %}

        <h1>{{ title | safe }}</h1>

        <div class="breadcrumbs">
            <a class="btn" href="/ref" title="Référentiel">&larr; Référentiel</a>
        </div>

        <h2>Liste des propriétes</h2>

        <table>

            <thead>

                <tr>
                    <th rowspan='2'>Nom dans l'ontologie</th>
                    <th rowspan='2'>Format</th>
                    <th rowspan='2'>Cardinality</th>
                    <th rowspan='2'>Description</th>
                    <th colspan='2'>Compatibilité</th>
                </tr>

                <tr class="compat-header">
                    <th>Ontologie</th>
                    <th>Propriété</th>
                </tr>
            </thead>

            <tbody>

                {% for item in items %}

                    <tr id="{{ item.ontologyProperty }}">

                        <td>{{ item.label }}
                            {% if item.ontologyProperty and item.ontologyProperty !== "" %}
                                <br/>
                                <code>{{ item.ontologyProperty }}</code>
                            {% endif %}
                        </td>

                        <td>

                            {% if item.type.kind === 'reference' %}
                                ID de :

                                {% for entityRef in item.type.targets %}

                                    <a href="{{ baseRoute }}/{{ entityRef }}">{{ entityRef }}</a>

                                {% endfor %}

                            {% else %}

                                {{ item.type.name }}

                            {% endif %}
                        </td>

                        <td>{{ item.cardinality }}</td>
                        <td>{{ item.description }}</td>

                        <td colspan="2">

                            <div class="compat-grid">

                                {% for compatItem in item.compatibility %}

                                    <div>
                                        {{ compatItem.externalSource.name }}
                                    </div>

                                    <div>
                                        <a href="{{ compatItem.documentationUrl }}" target="_blank">
                                            {{ compatItem.mapping.externalField }} <i class="la la-external-link"></i>
                                        </a>
                                    </div>

                                {% else %}

                                    <span class="nodata">Aucune donnée de compatibilité disponible.</span>

                                {% endfor %}
                            </div>

                        </td>

                    </tr>
                    {% if item.note %}
                        <tr class="note" id="note-{{ item.ontologyProperty }}">
                            <td>
                                <strong>Note :</strong>
                            </td>
                            <td colspan="5">
                                {{ item.note }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}

            </tbody>

        </table>

    </div>

{% endblock %}

{% block contentFooter %}
    <section class="container">
        <div class="legende">
            <h3>Légende</h3>
            <p>
                {{ isRequire("1..1", false) }} : Cette propriété est requise
            </p>
        </div>
    </section>
{% endblock %}