{% extends 'default.njk' %}

{% block content %}

    <div class="indexContent">

        {% block contentHeader %}
            {% include "Partials/header.njk" %}
        {% endblock %}

        <h1>{{ title }}</h1>

        {% if item %}

            <h2>{{ item.label }}</h2>

            <table>

                <thead>

                    <tr>
                        <th rowspan='2'>Nom dans l'ontologie</th>
                        <th rowspan='2'>Format</th>
                        <th rowspan='2'>Description</th>
                        <th colspan='2'>Compatibilité</th>
                    </tr>

                    <tr>
                        <th>ArtsData/schema.org</th>
                        <th>Arts de la scène</th>
                    </tr>
                </thead>

                <tbody>
                    {% for row in item.ref %}
                        <tr>
                            <td>{{ row.name }}</td>

                            <td>{{ row.format }}</td>

                            <td>{{ row.description }}</td>

                            {% for key, value in row.compatibility %}
                                <td>
                                    <a href="{{ value[1] }}">{{ value[0] }}</a>
                                </td>
                            {% endfor %}

                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        {% else %}
            <p>Rien à afficher!</p>
        {% endif %}

    </div>
{% endblock %}