{% extends 'default.njk' %}

{% block content %}

    <div class="indexContent">

        {% block contentHeader %}
            {% include "Partials/header.njk" %}
        {% endblock %}

        {% if item %}

            <h1>{{ title | safe }}</h1>

        {% endif %}

        <div class="breadcrumbs">
            <a href="/ref">Référentiel</a>
        </div>

        {% if item %}

            <h2>{{ item.label }}</h2>

            <p>{{ item.description }}</p>

            <table>

                <thead>

                    <tr>
                        <th rowspan='2'>Nom dans l'ontologie</th>
                        <th rowspan='2'>Format</th>
                        <th rowspan='2'>Description</th>
                        <th colspan='2'>Compatibilité</th>
                        <th rowspan='2'>Note</th>
                    </tr>

                    <tr class="compat-header">
                        <th>Ontologie</th>
                        <th>Propriété</th>
                    </tr>
                </thead>

                <tbody>
                    {% for row in item.ref %}
                        <tr>
                            <td>{{ row.label }}</td>

                            <td>

                                {% if row.type === 'object' %}
                                    <a href="/ref{{ row.subSchema.url }}">
                                        {{ row.subSchema.label }}
                                    </a>
                                {% elseif row.type === 'id' %}
                                    ID de :

                                    {% for entityRef in row.entityRef %}

                                        <a href="/ref/{{ entityRef }}">{{ entityRef }}</a>

                                    {% endfor %}

                                {% else %}
                                    {{ row.type }}
                                {% endif %}
                            </td>

                            <td>{{ row.description }}</td>

                            <td colspan="2">

                                <div class="compat-grid">

                                    {% for compatItem in row.compatibility %}

                                        <div>
                                            {{ compatItem.externalSource.name }}
                                        </div>

                                        <div>
                                            <a href="{{ compatItem.documentationUrl }}" target="_blank">
                                                {{ compatItem.mapping.externalField }}
                                            </a>
                                        </div>

                                    {% else %}

                                        <span class="nodata">Aucune donnée disponible.</span>

                                    {% endfor %}
                                </div>

                            </td>

                            <td>{{ row.note }}</td>

                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        {% else %}
            <p>Rien à afficher!</p>
        {% endif %}

    </div>
{% endblock %}