
<tr>
    <td style="background-color: {{ theme.contentBg }};" class="lightmode-bg" align="center">
        <img src="{{ api.mediasUrl }}entete-courriel-confirmation-transparent.png" width="600" height="250" alt="Fusée avnu" border="0" style="height: auto; font-family: sans-serif; font-size: 15px; line-height: 15px; color: {{ theme.color }};" />
    </td>
</tr>