<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="x-apple-disable-message-reformatting">
    <meta name="format-detection" content="telephone=no,address=no,email=no,date=no,url=no">
    <meta name="color-scheme" content="light dark">
    <meta name="supported-color-schemes" content="light dark">
    <title>{{title}}</title>

    <!--[if gte mso 9]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->

    <!--[if mso]>
    <style>
        * {
            font-family: sans-serif !important;
        }
    </style>
    <![endif]-->

    <!--[if !mso]><!-->
    <!-- insert web font reference, eg: <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'> -->
    <!--<![endif]-->

    <style>

        :root {
            color-scheme: light dark;
            supported-color-schemes: light dark;
        }

        html,
        body {
            margin: 0 auto !important;
            padding: 0 !important;
            height: 100% !important;
            width: 100% !important;
        }

        * {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        div[style*="margin: 16px 0"] {
            margin: 0 !important;
        }

        #MessageViewBody, #MessageWebViewDiv{
            width: 100% !important;
        }


        table,
        td {
            mso-table-lspace: 0pt !important;
            mso-table-rspace: 0pt !important;
        }


        table {
            border-spacing: 0 !important;
            border-collapse: collapse !important;
            table-layout: fixed !important;
            margin: 0 auto !important;
        }

        img {
            -ms-interpolation-mode:bicubic;
        }


        a {
            text-decoration: none;
        }


        a[x-apple-data-detectors],
        .unstyle-auto-detected-links a,
        .aBn {
            border-bottom: 0 !important;
            cursor: default !important;
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }

        .a6S {
            display: none !important;
            opacity: 0.01 !important;
        }

        .im {
            color: inherit !important;
        }

        img.g-img + div {
            display: none !important;
        }

        @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
            u ~ div .email-container {
                min-width: 320px !important;
            }
        }

        @media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
            u ~ div .email-container {
                min-width: 375px !important;
            }
        }

        @media only screen and (min-device-width: 414px) {
            u ~ div .email-container {
                min-width: 414px !important;
            }
        }

    </style>

    <style>

        .button-td,
        .button-a {
            transition: all 100ms ease-in;
        }
        .button-td-primary:hover,
        .button-a-primary:hover {
            background: {{ theme.buttons.over.bg }} !important;
            border-color: {{ theme.buttons.over.bg }} !important;
            color: {{ theme.buttons.over.color }} !important;
        }

        @media screen and (max-width: 600px) {

            .email-container p {
                font-size: 17px !important;
            }
        }

        @media (prefers-color-scheme: light) {
            .email-bg {
                background: {{ theme.bg }} !important;
            }
            .lightmode-bg {
                background: {{ theme.bg }} !important;
            }
            h1,
            h2,
            h3,
            p,
            li,
            .lightmode-text,
            .email-container a:not([class]) {
                color: {{ theme.color }} !important;
            }
            td.button-td-primary,
            td.button-td-primary a {
                background: {{ theme.buttons.bg }} !important;
                border-color: {{ theme.buttons.bg }} !important;
                color: {{ theme.buttons.color }} !important;
            }
            td.button-td-primary:hover,
            td.button-td-primary a:hover {
                background: {{ theme.button.over.bg }} !important;
                border-color: {{ theme.button.over.bg }} !important;
                color: {{ theme.buttons.over.color }} !important;
            }
            .footer td,
            .footer td a {
                color: #aaaaaa !important;
            }
            .lightmode-fullbleed-bg {
                background-color: {{ theme.bg }} !important;
            }
        }

    </style>
</head>