<tr>
    <td style="padding: 20px 0; text-align: center">
        <img src="{{ api.mediasUrl }}avnu.png" width="200" height="50" alt="avnu" border="0" style="height: auto; font-family: sans-serif; font-size: 15px; line-height: 15px; color: {{ theme.color }};">
    </td>
</tr>