.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.no-padding-t {
    padding-top: 0;
}
.no-padding-b {
    padding-bottom: 0;
}
.no-margin-t {
    margin-top: 0;
}
.no-margin-b {
    margin-bottom: 0;
}

.default-padding {
    padding: var(--default-spacing);
}
.default-padding-x {
    padding-left: var(--default-spacing);
    padding-right: var(--default-spacing);
}

.default-padding-y {
    padding-bottom: var(--default-spacing);
    padding-top: var(--default-spacing);
}
.default-padding-b {
    padding-bottom: var(--default-spacing);
}
.default-padding-t {
    padding-top: var(--default-spacing);
}
