table {
    border: 2px solid black;
    border-collapse: collapse;

    min-width: 100%;

    & .nodata {
        text-align: center;
        padding: 0.5em;
        grid-column: 1 / -1;
        opacity: 0.5;
    }

    &.ref td,
    &.ref th {
        &:first-child,
        &:nth-child(2) {
            width: 20ch;
        }
    }
}

tr:target {
    background-color: var(--secondary-lighter);
    outline: 3px solid var(--primary);
    outline-offset: 0px;
}
tr:target + tr.note {
    background-color: var(--secondary-lighter);
}

th,
td {
    border-top: var(--table-default-border);
    border-bottom: var(--table-default-border);
    border-left: var(--table-default-border);
    border-right: var(--table-default-border);

    height: 100%;
    padding: 0.5em;
    &.no-border-left {
        border-left: none;
    }
    &.no-border-right {
        border-right: none;
    }
    &.no-border-x {
        border-left: none;
        border-right: none;
    }
    &:has(.compat-grid) {
        padding: 0;
        vertical-align: top;
    }
}
.compat-header th {
    width: 20ch;
}
.compat-grid {
    display: grid;
    /*grid: auto-flow / 1fr 1fr;*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    width: 100%;

    & > div {
        padding: 0.25em;

        &:not(:nth-last-child(-n + 2)) {
            border-bottom: 2px dashed;
        }
    }
}

.grid-2columns {
    display: grid;
    grid: auto-flow / 1fr 1fr;
    width: 100%;
    & > div {
        padding: 0.25em;
    }
}
