:root {
    --default-bg: #fbf7f5;
    --default-bg2: #f3edea;
    --default-color: #1f1f2e;
    --default-title-color: #1f1f2e;
    --default-radius: 1.5rem;
    --default-content-bg: #fbf7f5;
    --default-content-color: #1f1f2e;
    --default-spacing: 1rem;
    --default-h-spacing: 1rem;
    --default-v-spacing: 1rem;
    --button-radius: 2rem;
    --button-size: 1rem;
    --button-padding: 1rem;
    --button-bg: #6ec8cd;
    --button-color: #1f1f2e;
    --button-over-bg: #c4eaeb;
    --button-over-color: #6ec8cd;
    --code-bg: #e4e4e4;
}
