<!doctype html>
<html lang="fr">
{% include "Layouts/Partials/head.njk" %}
    <body>
        <div class="mainContent">
            {% block content %}
                <div class="indexContent">
                    <header>
                        <figure>
                            <img src="{{ api.mediasUrl }}avnu-picto.png" width="244" height="275" alt="avnu" border="0" />
                        </figure>
                    </header>
                    <h1>{{ title }}</h1>
                    <p>{{ body | safe }} {{ api.description }}</p>
                </div>
            {% endblock %}
        </div>
    </body>
</html>