{% extends 'Layouts/default.njk' %}

{% block contentHeader %}
    <header>
        <p>
            <pre style="line-height: 80%">
 ___   ___    _______  <br/>
|\  \ |\  \  /  ___  \    <br/>
\ \  \\_\  \/__/|_/  /|   <br/>
 \ \______  \__|//  / /  <br/>
  \|_____|\  \  /  /_/__  <br/>
         \ \__\|\________\<br/>
          \|__| \|_______|<br/>
            </pre>
        </p>
    </header>


{% endblock %}