name: generate plantuml
on: 
  push:
    paths:
      - '**.puml'
    branches:
      - master
jobs:
  generate_plantuml:
    runs-on: ubuntu-latest
    name: plantuml
    steps:
    - name: checkout
      uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: plantuml
      id: plantuml
      uses: grassedge/generate-plantuml-action@v1.5
      with:
        path: .
        message: "Render des fichiers PlantUML dans la documentation, via l'action `generate plantuml`"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
